<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <strong><%= @user[:name] %></strong>!</p>
    <p>Altius Welcomes You, Our Representative Would Reach You Shortly.</p>
    <p><strong>"Have a great day"</strong></p>
  </body>
</html>
